* {
  padding: o;
  margin: 0;
  box-sizing: border-box;
}

#main{
  display: flex;
  grid-template-columns: 1fr auto;
  text-decoration: none;
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

#nav{
  display:block;
  background-color: aqua;
  height: 47px;
  grid-column: 2;
}

#header {
  grid-column: 1;
  height:47px ;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#header h1{
  cursor: pointer;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
  width: 305px;
}

#nav >p{
  display: block;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  width: 190px;
  float:right;
}

#nav >p:hover{
  color: red;
  cursor: pointer;
}

/* #header .search-btn:hover{
  background-color:#f44336 ;
} */

#header .tim{
  font-size: 13px;
  padding:0 ;
  display: block;
  position:relative;
  top: 14px;
  right: -35px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 3);
}

#header .search-icon{
  color: #000;
  font-size: 20px;
  line-height: 46px;
}

#header .search-btn{
  float:right;
  padding: 0 21px;
}
.navbar {
  overflow: hidden; 
  display: block;
  margin-top: 47px;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
footer{
  bottom: 0px;
}
a:hover{
  color: red;
  text-decoration: none;
}
#content {
  background: white;
  height: 515px;
}
a{
  text-decoration: none;
  color: #000;
}
body{
  padding:50px;
}
.container{
  overflow: hidden;
  position: relative;
  top: 135px;
  max-width: 600px;
  margin:0 auto;
  padding:50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-group{
  overflow: hidden;
  margin-bottom:30px;
}